language: android
jdk: oraclejdk8
sudo: false

env:
  global:
    - COMPILE_SDK_VERSION = 25
    - BUILD_TOOLS_VERSION = 25.0.0

android:
  components:
    - tools
    - platform-tools
    - build-tools-$BUILD_TOOLS_VERSION
    - android-$COMPILE_SDK_VERSION

  licenses:
    - android-sdk-license-.+

  notifications:
    email: false

before_install:
  - chmod +x gradlew
  - mkdir "$ANDROID_HOME/licenses" || true
  - echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"
  - echo -e "\n84831b9409646a918e30573bab4c9c91346d8abd" > "$ANDROID_HOME/licenses/android-sdk-preview-license"

script:
  - ./gradlew build connectedCheck