<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blankj.launcher">

    <application>
        <activity
            android:name=".pkg.MainActivity"
            android:screenOrientation="user"
            android:windowSoftInputMode="stateHidden|adjustPan" />
    </application>

</manifest>
