<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.blankj.androidutilcode">

    <!--bar-->
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <!--读写内存-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--network-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--phone-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!--拨打电话-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--发送短信-->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!--获取手机联系人-->
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--获取短信-->
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->
    <uses-permission android:name="android.permission.READ_SMS" />

    <!--process-->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <!--screen-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!--flashlight-->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!--location-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".UtilsApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/my_app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--core-->
        <activity
            android:name=".core.main.CoreUtilActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".core.activity.ActivityActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".core.activity.SubActivityActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".core.app.AppActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".core.bar.BarActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".core.bar.BarNavActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".core.bar.BarStatusAlphaActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".core.bar.BarStatusColorActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".core.bar.BarStatusDrawerActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".core.bar.BarStatusFragmentActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".core.bar.BarStatusImageViewActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".core.bar.BarStatusSwipeBackActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".core.clean.CleanActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".core.device.DeviceActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".core.fragment.FragmentActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".core.image.ImageActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".core.keyboard.KeyboardActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".core.log.LogActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".core.network.NetworkActivity"
            android:launchMode="singleTop" />
        <!--<activity android:name=".activities.PermissionActivity"/>-->
        <activity
            android:name=".core.phone.PhoneActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".core.process.ProcessActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".core.screen.ScreenActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".core.sdcard.SDCardActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".core.snackbar.SnackbarActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".core.span.SpanActivity"
            android:launchMode="singleTop">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".core.toast.ToastActivity"
            android:launchMode="singleTop" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.blankj.androidutilcode.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


        <!--sub-->
        <activity
            android:name=".sub.main.SubUtilActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".sub.location.LocationActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".sub.pinyin.PinyinActivity"
            android:launchMode="singleTop" />

        <service
            android:name=".sub.location.LocationService"
            android:launchMode="singleTop" />

    </application>

</manifest>