<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blankj.subutil.pkg">

    <!-- location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>

        <activity
            android:name=".feature.SubUtilActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".feature.appStore.AppStoreActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".feature.countryCode.CountryCodeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".feature.location.LocationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop" />

        <service android:name=".feature.location.LocationService" />
        <activity
            android:name=".feature.pinyin.PinyinActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop" />
    </application>

</manifest>
